h1{
    color: white;
    text-shadow:0px 0px 10px rgb(103, 138, 63);
    text-align: center;
    padding: 0.25em;
    border-top: solid 2px rgb(149, 177, 118);
    border-bottom: solid 2px rgb(149, 177, 118);
    background: -webkit-repeating-linear-gradient(-45deg, white, white 3px,rgb(245, 320, 230) 3px, rgb(245, 320, 230) 7px);
    background: repeating-linear-gradient(-45deg, white, white 3px,rgb(220, 245, 208) 3px, rgb(245, 320, 230) 7px);

   
}

h2{
    color: white;
    font-family: sans-serif;
    text-shadow:0px 0px 10px rgb(103, 138, 63);
    background: linear-gradient(90deg, rgb(199, 225, 171),50%,#ffffff);
    border-radius: 20px 0px 0px 20px;
}
h2:before {
    content: '　◉';
    color: white;
    margin-right: 10px;
  }
h3{
    color:rgb(145, 128, 134);
    position: relative;
    display: inline-block;
    padding: 0 55px;
  }
  
h3:before, h3:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: rgb(109, 90, 96);
}
  
h3:before {
    left:0;
}
h3:after {
    right: 0;
}

p{
    color: rgb(109, 90, 96);
}
li{
    color: rgb(109, 90, 96);
}
table{
    color: rgb(109, 90, 96);
}
ol.all{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 80px;
    grid-gap: 30px;
}
li.box{
    list-style-type:none;
    padding: 1em 1em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaf1;
    box-shadow: 0px 0px 0px 10px #ffeaf1;
    border: dashed 2px #ffc3dd;
    border-radius: 5px;
    margin: 0; 
    padding: 0;
}
strong{
    color: rgb(103, 138, 63);
}
a:link{
    color: rgb(103, 138, 63);
}
a:visited{
    color: gray;
    text-decoration: line-through;
}
a:hover{
    color: orange;
}
