p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color : white;
	text-shadow: 0px 0px 10px navy;
}

h2 {
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(90deg, #ffffff, #ffefaf);
	margin: 5px;
}

div#zentai {
	display: grid;  /*グリッドレイアウトにする*/
	grid-template-columns: 1fr 1fr;/*2列、幅は1:1*/
	grid-auto-rows: 200px;/*高さ*/
	grid-gap: 10px;/*隣り合うブロックとの間隔*/
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
}
img{
	float: right;
}